{% extends 'base.html' %}

{% block content %}
  <h2 align="center">Task List</h2>
  <a href="{% url 'app:add_task' %}" class=""><button>Add Task</button></a>
  <ul>
    {% if not tasks %}
    <br>
    <div class="text-center alert alert-info">
      <h2>Nothing to display</h2>
    </div>
    <h3 class="text-center">Click to Add Task to enter task</h3>
    {% else %}
      {% for task in tasks %}
      <li class="list-group">
        <h3>{{ task.title }}</h3>
        <p>Status: {{ task.status }}</p>
        <p>Date: {{ task.date }}</p>
        <p>Deadline: {{ task.deadline }}</p>
        <p>Priority: {{ task.priority }}</p>
        <p>Description: {{ task.description }}</p>
        <a class="btn btn-danger" href='delete-task/{{ task.id }}'>Delete</a>
      </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}